* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul:after {
  content: '';
  display: table;
  clear: both;
}

.tile {
  margin: 0 0 20px 0;
  float: left;
  width: 100%;
  position: relative;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 4px;
}
@media (min-width: 480px) {
  .tile {
    margin: 1%;
    width: 48%;
  }
}
@media (min-width: 768px) {
  .tile {
    margin: 1%;
    width: 31.333%;
  }
}
.tile:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.tile__info {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 20px 60px 20px;
  z-index: 10;
  background: rgba(7, 24, 57, 0.95);
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  border-radius: 4px;
}
.tile:hover .tile__info {
  opacity: 0.9;
}
.tile__title {
  margin: 0;
  font-size: 24px;
}
.tile__description {
  font-size: 15px;
  overflow-y: auto;
  padding-top: 5px;
}
.tile__button {
  position: absolute;
  bottom: 0;
  right: 0;
  text-decoration: none;
  padding: 12px 14px;
  z-index: 20;
  transition: all 0.15s ease-in-out;
  border: 0;
  height: 42px;
  font-size: 16px;
  font-weight: bold;
  background: #f05a5b;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}
.tile__button:hover {
  background: #e14f50;
}
